---
- name: Create Redis PVC
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: "{{ app.name }}-redis-data"
        namespace: "{{ inventory_hostname }}"
        labels:
          app.kubernetes.io/name: "{{ app.name }}"
          app.kubernetes.io/component: redis
      spec:
        accessModes: [ReadWriteMany]
        storageClassName: "{{ storage_class.name }}"
        resources:
          requests:
            storage: "{{ resources.redis.storage }}"
