---
- name: Create database credentials secret
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ app.name }}-db-credentials"
        namespace: "{{ inventory_hostname }}"
        labels:
          app.kubernetes.io/name: "{{ app.name }}"
          app.kubernetes.io/component: database
          cnpg.io/reload: "true"
      type: kubernetes.io/basic-auth
      stringData:
        username: "{{ database.user }}"
        password: "{{ secrets.database.password }}"
        database: "{{ database.name }}"

- name: Create application secrets
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ app.name }}-secrets"
        namespace: "{{ inventory_hostname }}"
        labels:
          app.kubernetes.io/name: "{{ app.name }}"
          app.kubernetes.io/component: config
      type: Opaque
      stringData:
        SECRET_KEY: "{{ secrets.secret_key }}"
        UTILS_SECRET: "{{ secrets.utils_secret }}"
        REDIS_URL: "redis://{{ app.name }}-redis:6379"
        DATABASE_URL: "postgres://{{ database.user }}:{{ secrets.database.password }}@{{ database.host }}:5432/{{ database.name }}"
        AZURE_CLIENT_ID: "{{ secrets.oidc.client_id }}"
        AZURE_CLIENT_SECRET: "{{ secrets.oidc.client_secret }}"
        AZURE_TENANT_ID: "{{ secrets.oidc.tenant_id }}"
        SMTP_HOST: mail.epfl.ch
        SMTP_PORT: "587"
        SMTP_SECURE: "false"
        SMTP_USERNAME: "{{ secrets.smtp.username }}"
        SMTP_PASSWORD: "{{ secrets.smtp.password }}"
        SMTP_FROM_EMAIL: "{{ secrets.smtp.from_email }}"
        APP_NAME: "{{ app.display }}"
        FILE_STORAGE: local
        FILE_STORAGE_UPLOAD_MAX_SIZE: "8589934592"
