---
- name: Create pull secret
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ pull_secret }}"
        namespace: "{{ inventory_hostname }}"
        labels:
          app.kubernetes.io/name: "{{ app.name }}"
          app.kubernetes.io/component: config
      type: kubernetes.io/dockerconfigjson
      data:
        .dockerconfigjson: "{{ secrets.pull.secret }}"

- name: Create S3 credentials secret
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: s3-credentials
        namespace: "{{ inventory_hostname }}"
        labels:
          app.kubernetes.io/name: "{{ app.name }}"
          app.kubernetes.io/component: backup
      type: Opaque
      stringData:
        AWS_BUCKET_NAME: "{{ secrets.s3.name }}"
        AWS_BUCKET_HOST: "{{ secrets.s3.host }}"
        AWS_ACCESS_KEY_ID: "{{ secrets.s3.access_key_id }}"
        AWS_SECRET_ACCESS_KEY: "{{ secrets.s3.access_key_secret }}"
